body {
    background-color:azure
}

.menu {
    list-style: none;
    font-family: sans-serif;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
}

img {
    padding-left: 250px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
